<footer class="footer bg-dark py-3 mt-auto">
    <div class="container text-center">
        <span class="text-white-50">Erkant E. Copyright © <%=new Date().getFullYear()%></span>
    </div>
</footer>