<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand border border-4-secondary py-1 px-3 rounded font-weight-bold" href="/">B.log</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/posts">Posts</a>
                <%if((currentUser) && (currentUser.role==='admin' )){%>
                    <a class="nav-link" href="/posts/new">New Post</a>
                    <% } %>
            </div>
            <div class="navbar-nav ms-auto">
                <% if(!currentUser) { %>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    <% }else { %>
                        <p class="navbar-text me-3 text-success">
                            <%= currentUser.username %>
                        </p>
                        <a class="nav-link" href="/logout">Logout</a>

                        <% } %>

            </div>
        </div>
    </div>
</nav>